

<div class="card border-light mb-3" style="width: 18rem;">
    <div class="card-header text-center">
        Datos del docente
    </div>
    <ul class="list-group list-group-flush text-center">
        <li class="list-group-item">Nombres: {{user[1][1]}}</li>
        <li class="list-group-item">Apellidos: {{user[1][2]}}</li>
        <li class="list-group-item">Correo: {{user[1][3]}}</li>
    </ul>
</div>
<div class="col-auto p-5 text-center">
    <form action="/viewSendMail" method="post">
        <div class="row text-center">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Enviar</h5>
                        <p class="card-text">Envia correos desde tu cuenta</p>
                        <input style="text-align: center" id="email" type="hidden" name="email"
                            value="{{user[1][3]}}" required />
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-outline-success text-center text-uppercase" type="submit">
                                Redactar correo
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row text-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <form action="/viewReciebedMail" method="post">
                        <h5 class="card-title text-center">Visualizar</h5>
                        <p class="card-text">Visualizar los correos que han llegado a tu cuenta</p>
                        <input style="text-align: center" id="email" type="hidden" name="email"
                            value="{{user[1][3]}}" required />
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-outline-primary text-center text-uppercase" type="submit">
                                Visualizar correos recibidos
                            </button>
                        </div>
                    </form>
                    <form action="/viewSentMail" method="post">
                        <p class="card-text">Visualizar los correos que has enviado desde tu cuenta</p>
                        <input style="text-align: center" id="email" type="hidden" name="email"
                            value="{{user[1][3]}}" required />
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-outline-primary text-center text-uppercase" type="submit">
                                Visualizar correos enviados
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>