<p>&nbsp;</p>
<p>Facultad de artes</p>
<p>&nbsp;</p>
<p>certifica que<br /><br /></p>
<h2>{{ information['nombre'] }}</h2>
<p>con codigo estudiantil {{ information['codigo'] }}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Asistio a la obra {{information['obra']}}, representando al personaje {{information['personaje']}} La presente es para indicar que la liquidacion de viaticos de los estudiantes de la obra "{{ information['obra'] }}" durante el periodo de tiempo: {{information["periodo"]}} horas.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Firma: {{ information['nombreProfesor'] }}<br />C.C: {{ information['cedula'] }}<br />{{ information['facultad'] }}</p>