<html>
  <head>
    <title>Agendacion de audicion</title>
  </head>
  <body>
    <h3>Has sido registrado para una audicion</h3>
    <p>
      Hola {{names}} {{surname}} tienes programada una cita para hacer tu audicion 
      para una obra el dia {{day}} del mes de {{month}} del año {{year}}
      a las {{time}}, recuerda llegar con 5 dias de anticipacion.
      <br>
      Que tengas un buen dia
      <br>
      <br>
      Equipo de gestion de teatros Universidad Distrital
      <br>
      <br>
    </p>
  </body>
</html>