<nav class="navbar navbar-light bg-primary justify-content-center">
  <div class="container">
    <div class="row">
      <a href="./" class="btn btn-secondary text-uppercase">Regresar</a>
    </div>
    <div class="row">
      <h1 class="text-center">Sistema de Gestion de Teatros UD</h1>
    </div>
    <div class="row">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link" href="loginTeacher" style="font-weight: bold;"><i
              class="bi bi-person-circle"></i> Login profesor</a></li>
      </ul>
    </div>
  </div>
</nav>