<nav class="navbar navbar-light bg-primary justify-content-center">
    <div class="container">
        <div class="row">
            <a href="/logout" class="btn btn-danger text-uppercase"><i class="bi bi-box-arrow-left"></i> Salir</a>
        </div>
        <div class="row">
            <a href="/verifyTeacher" class="btn btn-warning text-uppercase"><i class="bi bi-house-fill"></i> Home</a>
        </div>
        <div class="row">
            <h1 class="text-center">Sistema de Gestion de Teatros UD</h1>
        </div>
    </div>
</nav>