<p style="text-align: center;"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Escudo_UD.svg/1200px-Escudo_UD.svg.png" alt="" width="70" height="68" /></p>
<p style="text-align: center;">&nbsp;</p>
<p>{{ Fecha actual }}</p>
<p>&nbsp;</p>
<p>Facultad de Artes</p>
<p>&nbsp;</p>
<p>Estimado responsable de solicitudes</p>
<p>La presente es para indicar que la liquidacion de viaticos de los estudiantes de la obra {{ obra }}, realizada en la fecha {{ Fecha de inicio actividades }} y terminada en {{ Fecha fin actividades }}.</p>
<p>&nbsp;</p>
<p>A continuacion dejare la lista de estudiantes, con parte de su informacion personal, que participaron en dicha obra.</p>
<p>{{ Lista de estudiantes con informacion }}</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Atentamente: {{ Nombre profesor }}<br />C.C: {{ cedula }}<br />{{ Facultad }}</p>