<p style="text-align: center;">&nbsp;</p>
<p>{{ information['fecha'] }}</p>
<p>&nbsp;</p>
<p>Facultad de Artes</p>
<p>&nbsp;</p>
<p>Estimado responsable de solicitudes</p>
<p>La presente es para indicar que la liquidacion de viaticos de los estudiantes de la obra "{{ information['obra'] }}", realizada en la fecha {{ information['fechaInicio'] }} y terminada en {{ information['fechaFin'] }}.</p>
<p>&nbsp;</p>
<p>A continuacion dejare la lista de estudiantes, con parte informaci&oacute;n detallada de su participacion en dicha obra.</p>
<br/>
<table class="" style="text-align: center;">
    <thead style="font-weight:bold;">
      <tr>
        <th>Nombre estudiante</th>
        <th>codigo</th>
        <th>Correo</th>
        <th>Cantidad de funciones</th>
        <th>Horas participacion</th>
        <th>Periodo de tiempo</th>
      </tr>
    </thead>
    <tbody>
        {% for i in range(students[0] | length) %}
            <tr>
                {% for j in range(students | length) %}
                    <td>{{ students[j][i] }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>    
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>Atentamente: {{ information['nombreProfesor'] }}<br />C.C: {{ information['cedula'] }}<br />{{ information['facultad'] }}</p>