<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <title>Student added</title>
</head>
<body>
    <h1 class="text-center title">El estudiante ha sido registrado exitosamente!</h1>
    <a
      href="./"
      class="btn btn-secondary text-center text-uppercase"
      style="position: fixed; top: 0; left: 0"
      >Regresar</a
    >
</body>
</html>