<!DOCTYPE html>

<html>
    <head>
        <title>view student</title>
        <meta charset="UTF-8"> </meta>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"/>
    </head>
    <body>
        <a href="./"class="btn btn-secondary text-center text-uppercase"style="position: fixed; top: 0; left: 0">Regresar</a>
        <h1 class='text-center text-uppercase'>Tabla Estudiantes</h1>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th> Codigo estudiante </th>
                    <th> Identificacion </th>
                    <th> Nombre </th>
                    <th> Correo </th>
                    <th> Carrera </th>
                </tr>
            </thead>
            <tbody>
                {% for student in all_students  %}
                <tr>
                    {% for data in student %}
                        <td>{{ data }}</td>                                                                            
                    {% endfor %}
                </tr
                {% endfor %}>
            </tbody>
        </table>
    </body>
</html>