{% extends 'base.html' %} 
{% block title %}
  {{super()}} 
  Estudiantes 
  {% endblock title %} 
{% block content %} 
  {{super()}}
        <h1 class="text-center text-uppercase">Estudiantes inscritos</h1>
        <table class="table table-bordered text-center">
            <thead class="thead-dark">
                <tr>
                    <th> Codigo estudiante </th>
                    <th> Identificacion </th>
                    <th> Nombre </th>
                    <th> Correo </th>
                    <th> Carrera </th>
                </tr>
            </thead>
            <tbody>
                {% if all_students %}
                    {% for student in all_students %}
                    <tr>
                        {% for data in student %}
                            <td>{{ data }}</td>                                                                            
                        {% endfor %}
                    </tr
                    {% endfor %}>
                {% else %}
                    <h3>No se encontraron estudiantes</h3>
                {% endif %}
            </tbody>
        </table>
  
{% endblock content %}
